table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
}

tr:nth-child(even){background-color: #f3e7e7;}

th {
    background-color: #04AA6D;
    color: white;
}

tr:hover {background-color: rgb(138, 126, 239);}