* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
}

/* NAVBAR */
.navbar {
  position: sticky;
  top: 0;
  background: #2b1a01;
  z-index: 100;
}

.wrapper {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 28px;
  font-weight: 700;
  color: #fff;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: #ddd;
  text-decoration: none;
  font-weight: 500;
}

.btn-nav {
  background: #c58a46;
  padding: 8px 16px;
  border-radius: 20px;
  color: white;
}

/* HERO */
.hero {
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1509042239860-f550ce710b93?q=80&w=1600&auto=format&fit=crop");
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
}

.hero-content {
  position: relative;
  color: white;
  text-align: center;
  max-width: 700px;
}

.hero-content h1 {
  font-family: "Playfair Display", serif;
  font-size: 48px;
  margin-bottom: 20px;
}

.hero-buttons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn {
  padding: 14px 30px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
}

.primary {
  background: #c58a46;
  color: white;
}

.secondary {
  border: 2px solid white;
  color: white;
}

/* ABOUT */
.about {
  padding: 80px 20px;
  background: #fafafa;
}
.about-container {
  max-width: 1100px;
  margin: auto;
  display: flex;
  gap: 40px;
  align-items: center;
}
.about-text {
  flex: 1;
}

.about-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.about-image img {
  width: 80%;
  max-width: 380px;
  height: auto;
}
.about-text h2 {
  font-family: "Playfair Display", serif;
  margin-bottom: 20px;
}

/* MENU */
.menu-section {
  padding: 80px 20px;
}

.container {
  max-width: 1100px;
  margin: auto;
}

.menu-list {
  display: flex;
  gap: 20px;
}

.menu-item {
  background: white;
  border-radius: 12px;
  width: 33%;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.menu-item:hover {
  transform: translateY(-8px);
}

.menu-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.price {
  font-weight: 700;
  color: #8b4513;
}

/* FOOTER */
.footer {
  background: #2b1a01;
  color: white;
  text-align: center;
  padding: 40px 20px;
}

.copy {
  margin-top: 10px;
  opacity: 0.7;
}
